*{
	margin:0;
	padding: 0;
	
}

body{
  background: url("https://www.hdwallpapers.in/download/apple_mac_os_x_el_capitan-2560x1440.jpg") no-repeat center fixed;
  background-size: cover;
}

nav {
  width: 100%;
  height: 60px;
  background-color: #525252;
  opacity: 0.7;
}

nav ul {
  float: left;
  margin: 0px;
}

nav ul li {
  float: left;
  list-style: none;
  position: relative;
  margin: 6px;
}

nav ul li a {
  display: block;
  font-family: helvetica;
  color: white;
  font-size: 20px;
  padding: 13px 14px;
  text-decoration: none;
}

nav ul li:hover a {
    text-decoration: none;
    color: white;
    background-color: powderblue;
    padding: 8px;
    border-radius: 2px;
    margin-top: 2px;
    margin: 6px;
}

nav ul li ul li:hover a {
    text-decoration: none;
    color: white;
    background-color: #525252;
    margin-top: 2px;
}

nav ul li ul {
  display: none;
  position: absolute;
  background-color: black;
  padding: 1px;
  color: #525252;
  text-decoration: none;
  cursor: pointer;
}

nav ul li:hover ul {
  display: block;
  text-decoration: none;
  color: white;
}

nav ul li ul li {
  width: 160px;
}

nav ul li ul li a {
  padding: 10px 8px;
}

nav ul li ul li a:hover {
   background-color: #f3f3f3;
   color: #535353;
}

#centertext {
    font-size: 60px;
    position: relative;
    float: left;
}

.container {
    font-size: 90px;
    font-family: helvetica;
    text-align: center;
    color: #CBCBCB;
    position: absolute;
    top: 65%;
    left: 5%;
}

footer {
    opacity: 0.8;
    background-color: #525252;
    font-family: helvetica;
    color: white;
    text-align: center;
    position:absolute;
    bottom:0;
    width:110%;
    height:20px;
}
