*{
	margin:0;
}

body {
    background: url("http://www.tokkoro.com/picsup/2082387-clear-blue-sky-as-a-background-wallpaper-pastel-sky-wallpaper.jpg") no-repeat center fixed;
    background-size: cover;
}

#par1 {
    font-size: 30px;
    font-family: helvetica;
    position: relative;
    height: 70px;
    width: 300px;
    top: -32%;
    left: 70%;
    text-align: left;
}

#par2{
    font-size: 30px;
    font-family: helvetica;
    position: relative;
    height: 70px;
    width: 300px;
    top: -7.5%;
    left: 70%;
    text-align: right;
}

iframe{
    position: absolute;
    top: 15%;
    left: 3%;
    float: left;
}

#section1{

   background: url("https://wallpaperscraft.com/image/apple_mac_brand_logo_bright_circle_44049_2560x1600.jpg") no-repeat center fixed;
   background-size: cover;

}

.paragraph{
    position: relative;
    top: -5%;
    left: 15%;
    height: 70%;
    width: 70%;
}

.netflix {
    width: 60%;
}

h5 {
    position: absolute;
    top: 5%;
    left: 23%;
}

#section2{

   background: url("https://hdqwalls.com/download/netflix-nx-2048x1152.jpg") no-repeat center fixed;
   background-size: cover;

}

#section3{

   background: url("http://images6.fanpop.com/image/photos/40300000/Spotify-spotify-40342607-3840-2160.jpg") no-repeat center fixed;
   background-size: cover;

}

.section{
    text-align: center;
    color: white;
}

#button{
    position: absolute;
    height: 10px;
    width: 250px;
    top: 80%;
    left: 41%;
}

a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	color: #fff;
	font-size:20px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
	color: #FFF;
	text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
	height: 450%;
}
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #fff;
	font-size:14px;
	border-radius: 5;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	transition: all 1s ease;
}

/* Victoria Buttons */
a.animated-button.victoria-two {
	border: 2px solid #D24D57;
}
a.animated-button.victoria-two:after {
	background: #D24D57;
	transform: translateX(-50%) translateY(-50%) rotate(25deg);
}
     
#par3 {
 margin:  1rem 0;
 color: black;
 text-align: center;
 font-size: 40px;
 width: 90%;
 height: 90%;
 position: absolute;
 top: 30%;
 left: 5%;
}

h1 {
    font-family: helvetica;
    text-align: center;
    position: relative;
    top: -25%;
    font-size: 50px;
}

nav {
  width: 100%;
  height: 60px;
  background-color: #525252;
  opacity: 0.85;
}

nav ul {
  float: left;
  margin: 0px;
}

nav ul li {
  float: left;
  margin: 6px;
  list-style: none;
  position: relative;
}


nav ul li a {
  display: block;
  font-family: helvetica;
  color: white;
  font-size: 20px;
  padding: 13px 14px;
  text-decoration: none;
}

nav ul li:hover a {
    text-decoration: none;
    color: white;
    background-color: powderblue;
    padding: 8px;
    border-radius: 2px;
    margin-top: 2px;
    margin: 6px;
}

nav ul li ul {
  display: none;
  position: absolute;
  background-color: black;
  padding: 1px;
  color: #525252;
  text-decoration: none;
  cursor: pointer;
}

nav ul li:hover ul {
  display: block;
  text-decoration: none;
  color: white;
}

nav ul li ul li {
  width: 160px;
  margin: 0px;
}

nav ul li ul li a {
  padding: 8px 8px;
}

nav ul li ul li a:hover {
   background-color: #f3f3f3;
   color: #535353;
}

.cloud {
    font-family: helvetica;
    font-size: 28px;
    color: #535353;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 46%;
    left: 44%;
}

.arrowR {
    position: absolute;
    top: 80%;
    left: 85%;
}


   
            
           
