* {
    margin: 0;
    padding: 0;
}

html , body {
    font-family: helvetica;
    text-align: center;
    background: url("https://d5qsyj6vaeh11.cloudfront.net/images/destinations/northern-ireland-node/northern-ireland-node/NI_BG_Carrick.jpg") no-repeat center fixed;
    background-size: cover;
    height: 105%;
}

h1 {
    color: white;
    font-size: 60px;
    font-weight: lighter;
    position: absolute;
    top: 30%;
    left: 35%;
    background-color: #535353;
    opacity: 0.85;
    border-radius: 5px;
}

nav {
  width: 100%;
  height: 60px;
  background-color: #525252;
  opacity: 0.85;
}

nav ul {
  float: left;
  margin: 0px;
}

nav ul li {
  float: left;
  margin: 6px;
  list-style: none;
  position: relative;
}


nav ul li a {
  display: block;
  font-family: helvetica;
  color: white;
  font-size: 20px;
  padding: 13px 14px;
  text-decoration: none;
}

nav ul li:hover a {
    text-decoration: none;
    color: white;
    background-color: powderblue;
    padding: 8px;
    border-radius: 2px;
    margin-top: 2px;
    margin: 6px;
}

nav ul li ul {
  display: none;
  position: absolute;
  background-color: black;
  padding: 1px;
  color: #525252;
  text-decoration: none;
  cursor: pointer;
}

nav ul li:hover ul {
  display: block;
  text-decoration: none;
  color: white;
}

nav ul li ul li {
  width: 160px;
  margin: 0px;
}

nav ul li ul li a {
  padding: 8px 8px;
}

nav ul li ul li a:hover {
   background-color: #f3f3f3;
   color: #535353;
}

.lb {
	display: none;
	position: fixed!important;
	z-index: 999;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
  text-align:center;
}

.lb img {
	max-width: 90%;
	max-height: 80%;
	margin-top: 2%;
}

.lb:target {
	outline: none;
	display: block;
}

a.lb:hover {cursor:default;}
img:hover {cursor:pointer;}

.container{
    position: absolute;
    top: 60%;
    border-top: 25px outset #525252;
    border-bottom: 25px outset lightgrey;
}

.pagination {
    display: inline-block;
    position: absolute;
    top: 95%;
    left: 70%;
    margin: 50px;
}

.pagination a {
    color: black;
    float: left;
    padding: 12px 24px;
    text-decoration: none;
    transition: background-color .3s;
    border-radius: 5px;
}

.pagination .active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #C1C1C1;
    
}
