*{
    margin:0;
    padding:0;
}

html,body{
    height:70%;
    width:100%;
    background: url("http://thewallpaper.co/wp-content/uploads/2016/10/Grey-plain-images-hd-hd-wallpapers-cool-images-4k-high-definition-amazing-background-wallpapers-colourful-display-1920x1200.jpg")no-repeat center fixed;
    background-size:cover;
    font-family: helvetica;
}

nav {
  width: 100%;
  height: 60px;
  background-color: #525252;
  opacity: 0.85;
}

nav ul {
  float: left;
  margin: 0px;
}

nav ul li {
  float: left;
  list-style: none;
  position: relative;
  margin: 6px;
}

nav ul li a {
  display: block;
  font-family: helvetica;
  color: white;
  font-size: 20px;
  padding: 13px 14px;
  text-decoration: none;
}

nav ul li:hover a {
    text-decoration: none;
    color: white;
    background-color: powderblue;
    padding: 8px;
    border: 5px;
    border-radius: 2px;
    margin-top: 2px;
    margin: 6px;
}

.container3{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    
}

.container2 h1{
    position: absolute;
    top: 10%;
    left: 32%;
    color:Green;
}

.container2 .lblsalesforce{
    position: absolute;
    top: 20%;
    left: 39%;
}

.container2 .lblcloud9{
    position: absolute;
    top: 25%;
    left: 39%;
}

.container2 .lblaws{
    position: absolute;
    top: 30%;
    left: 39%;
}

.container2 .lblgmail{
    position: absolute;
    top: 35%;
    left: 39%;
}

.container2 .lblsubtotal{
    position: absolute;
    top: 50%;
    left: 30%;
}
.container2 .lbldiscount{
    position: absolute;
    top: 55%;
    left: 30%;
}
.container2 .lblvat{
    position: absolute;
    top: 60%;
    left: 30%;
}

.container2 .lbltotal{
    position: absolute;
    top: 65%;
    left: 30%;
}

.btnadd{
    position: absolute;
    top: 84%;
    left: 39%;
}

.btnadd:hover{
    cursor:pointer;
    background-color: white;
}

.addbtnstyle{
    background-color: green;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 3px;
    font-size: 90%;
    border: solid 2px green;
}

.addbtnstyle:hover{
    cursor: pointer;
    background-color: white;
}

.btncal{
    position: absolute;
    top: 75%;
    left: 30%;
    background-color: blue;
    color: #000;
    text-align: center;
    text-decoration: none;
    padding: 6px 6px;
    border-radius: 3px;
    font-size: 95%;
    border: solid 2px blue;
}

.btncal:hover{
    cursor:pointer;
    background-color: white;
}

.btnclear:hover{
    cursor: pointer;
    background-color: white;
}

.btnclear{
    position: absolute;
    top: 75%;
    left: 52%;
    background-color: red;
    text-decoration: none;
    color: black;
    padding: 4px 4px;
    border: solid 2px red;
    border-radius: 3px;
}

.container4{
    position:absolute;
    top:15%;
    left:27%;
    width:630px;
    height:550px; 
    border:6px outset #525252;
    background: lightgrey; 
    margin:auto
}


.container5{
    position:absolute;
    top:15%;
    left:29%;
    width:580px;
    height:500px; 
    border:6px outset #525252;
    background: lightgrey; 
    margin:auto
}



.container6{
    position:absolute;
    top:25%;
    left:27%;
    width:580px;
    height:300px; 
    border:6px outset #525252;
    background: lightgrey; 
    margin:auto
}


/* E-business page 2 styling */
.heading2{
    position: absolute;
    top: 20%;
    left: 24%;
    font-size: larger;
}


.lblemail{
    position: absolute;
    top: 30%;
    left: 35%;
}

.lblname{
    position: absolute;
    top: 40%;
    left: 35%;
}



.lblpin{
    position: absolute;
    top: 50%;
    left: 35%;
}

.btnproceed{
    position: absolute;
    top: 60%;
    left: 37%;
    background-color: blue;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 3px;
    font-size: 90%;
}

.btnproceed:hover{
    cursor: pointer;
    background-color: white;
    border:solid 2px blue;
    color:blue;
}

.btnvalidate{
    position: absolute;
    top: 72%;
    left: 46%;
    
    background-color:green;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 3px;
    font-size: 90%;
}

.btnvalidate:hover{
    cursor: pointer;
    background-color: white;
    border:solid 2px green;
}


.ebus3head{
    position: absolute;
    top: 10%;
    left: 38%;
}
.ebus3name{
    position: absolute;
    top: 30%;
    left: 40%;
}

.ebus3email{
    position: absolute;
    top: 50%;
    left: 40%;
}

.ebus3total{
    position: absolute;
    top: 70%;
    left: 40%;
}
